@import '../../main-scss/main.scss';

.nav{
    background-color: $green;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navin{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: right;
    &__logo{

        @include grid-center;
        justify-content: left;
        svg{    
            width: 100%;
            max-width: 120px;
        }
    }

    &__menu{
        display: grid;
        justify-content: right;
        align-items: center;
        // grid-template-columns: 1fr 1fr;
    }


    

    &__option{
        cursor: pointer;
        @media(max-width: 500px){
            display: none;
        }
    }
    &__burger{
        cursor: pointer;
        @media(min-width: 500px){
            display: none;
        }
    }
}


.dropdown{
    background-color: $grey;
    color: #fff;
    position: fixed;
    width: 100%;
    top: -1000px;
    transition: top 500ms;

    &--active{
        top: 45px;
    }

    @media(min-width: 500px){
        display: none;
    }
}




.dropin{
    display: grid;
    grid-template-columns: 1fr;

    &__option{
        color: #fff;
        text-decoration: none;
        padding: 15px;
        font-size: 17px;
        text-align: center;
    }

    &__activeopt{
        color: $lgrey;
        pointer-events: none;
    }

    &__arrow{
        position: relative;
        svg{
            width: 20px;
            fill:#FFFFFF;
            transition: transform 300ms;
        }

        &--down{
            position: relative;
            svg{
                width: 20px;
                fill:#FFFFFF;
                transform: rotate(-180deg);
                transition: transform 300ms;
            }
        }
    }
}

.ddrop{
    position: absolute;
    top: -10000px;
    background-color: lighten($color: $green, $amount: 10);
    margin: 0;
    padding: 10px 0px;
    list-style: none;
    width: 90px;
    // right: 0px;
    left: 0;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr;

    a{
        color: #fff;
        text-decoration: none;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    &__option{
        padding: 10px 10px;
        // background-color: lighten($color: $green, $amount: 10);
        display: list-item;
    }

    &--active{
        top: 60px;
        opacity: 1;
    }
}


@media(min-width: 500px){

    .navin{
        min-height: 3rem;
        justify-content: end;
        &__menu{
            display: grid;
            text-align: right;
            justify-content: right;
        }

        &__list{
            display: flex;
            // grid-template-columns: 1fr 1fr;
        }
        &__option{
            color: #fff;
            text-decoration: none;
            font-size: 17px;
            font-weight: 500;
            padding-left: 40px;
        }
        &__activeopt{
            color: $lgrey;
            pointer-events: none;
        }
    }
}


